footer {
  overflow: hidden;
  padding: 3rem;
  .footer__section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  color: white;
  background-color: var(--base-color-2);
  h3 {
    color: inherit;
  }
  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    h2 {
      color: inherit;
      font-size: 3rem;
      font-weight: 100;
    }
  }
}
